@import "~@scss/variables";
@import "~@scss/helpers";

.Footer {
  @include container();
  
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 3;

  @include breakpoint('md') {
    bottom: 16px;
  }

  &__item {
    font-size: 32px;
    color: map-get($colors, c-typo-primary);
  }
}