@import "~@scss/variables";
@import "~@scss/helpers";

.Cover {
  $this: &;

  max-width: 574px;
  height: 100vh;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  &__title,
  &__aim {
    color: map-get($colros, c-typo-primary);
    white-space: pre;
  }

  &__title {
    margin-bottom: map-get($offsets, sm-l);

    @include breakpoint("md") {
      font-size: 100px;
    }
  }

  &__aim {
    @include breakpoint("md") {
      font-size: 40px;
    }
  }
}
